@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root { 
    --primary-color: #DE494C;
    --dark-gray: #6B7280;
    --off-white: #F5F5F5;
}

body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.container { 
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center { 
    max-width: 600px;
    margin: auto;
    margin-bottom: 0px;
    padding: 1rem;
    padding-bottom: 1rem;
}
.link { 
    text-decoration: none;
    padding: 0.5rem 1rem;

}
 .primary-link { 
     background-color: var(--primary-color);
     color: black;
     border-radius: 0.5rem;
 }

.secondary-link { 
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
hr { 
    margin: 2rem 0rem;
}
.no-bullet { 
    list-style: none;
}
.inline-item { 
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation { 
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem ;
}
.navigation .navbrand { 
    font-weight: bolder;
}
.navigation .link { 
    color: black;
}
.navigation .navpills { 
    text-align: right;
}
.navigation .link-active { 
    font-weight: bold;
}
.hero { 
    margin-bottom: 18rem;
}
.hero .hero-img { 
    max-width: 350px;
    display: block;
    margin: auto;
    margin-left: 10rem;
    margin-top: 10rem;
}
.hero .hero-heading { 
    color: var(--dark-gray);
    text-align: right;
    margin-top: -12rem;
    margin-right: 15rem;
    font-size: 2.5rem;
}
.hero .hero-heading .hero-highlight { 
    color: var(--primary-color);
}
.hero .hi { 
    color: black;
    font-size: 3.5rem;
    font-weight: 550;
}
.section h2 { 
    text-align: center;
    padding: 2rem;
}
.ow { 
    background-color: var(--off-white);
}
.footer { 
    background-color: var(--primary-color);
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    color: black;
    border-radius: 1rem 1rem 0rem 0rem;
}
.footer .link { 
    color: black;
}
.footer ul { 
    padding-inline-start: 0px;
}
.footer .footer-header { 
    font-size: large;
    font-weight: bold;
}