@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root { 
    --primary-color: #DE494C;
    --dark-gray: #6B7280;
    --off-white: #F5F5F5;
}

body { 
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.container { 
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center { 
    max-width: 600px;
    margin: auto;
    margin-bottom: 0px;
    padding: 1rem;
    padding-bottom: 1rem;
}
.link { 
    text-decoration: none;
    padding: 0.5rem 1rem;

}
 .primary-link { 
     background-color: var(--primary-color);
     color: black;
     border-radius: 0.5rem;
 }

.secondary-link { 
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
.project-link { 
    margin: 0.25rem 0.25rem 0.25rem 0rem;
}
hr { 
    margin: 2rem 0rem;
}
.no-bullet { 
    list-style: none;
    margin: 0 1em;
    display: flex;
    align-items: center;
    padding-top: 1vh;

}
.navigation { 
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
    border-bottom-left-radius: 1rem ;
    width: 100vw;
    height: 5vh;
}
.logo { 
    margin-right: auto;
    color: var(--off-white);
}
.navigation .link { 
    color: black;
}
.navigation .link-active { 
    font-weight: bold;
}

header { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    width: 100vw;
    height: 50vh;
    align-content: center;
}
h1 { 
    margin: 0;
    text-align: justify;
    padding-top: 4rem;
}
.hero-img { 
    max-width: 600px;
}

.hero .hero-heading .hero-highlight { 
    color: var(--primary-color);
}
.hero .hi { 
    color: black;
    font-size: 3.5rem;
    font-weight: 550;

}
.hero-02 .hero-heading { 
    color: var(--dark-gray);
    text-align: center;
}
.hero-02 .hero-heading .hero-highlight { 
    color: var(--primary-color);
}

.section h2 { 
    text-align: center;
    padding: 2rem;
}
.ow { 
    background-color: var(--off-white);
}
.footer { 
    background-color: var(--primary-color);
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    color: black;
    border-radius: 1rem 1rem 0rem 0rem;
}
.footer .link { 
    color: black;
}
.footer ul { 
    padding-inline-start: 0px;
}
.footer .footer-header { 
    font-size: large;
    font-weight: bold;
}